* {
    transition: all 0.3s;

  }

  body {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: calibri;
    font-size: 120%;
    background-image: url(/img/fondo.png);

  }

  
h1, p {
  color: white;
}


h1 {
  font-size: 3.3rem;
  text-align: center;
}

  .contenedor {
    width: 98vw;
    height: 97vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }

  .encabezado {
    position: relative;
    background: white;
    min-width: 300px;
    width: 70%;
    height: 400px;
    max-width: 600px;
    padding: 10px;
  }

  .categoria {
    opacity: 0.9;
    text-align: left;
    color:rgb(255, 0, 0);

  }

  .pregunta {
    padding: 19px;
    font-size: 30px;
    color: #000000;
    font-weight: bold;
  }

  .imagen {
    object-fit: cover;
    height: 0px;
    width: 0px;
  }

  .btn {
    background: white;
    width: 60%;
    max-width: 590px;
    padding: 15px;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
  }

  .btn:hover {
    transform: scale(1.05);
    color:rgb(0, 0, 0);
    font-weight: bold;
    font-size: 25px;
    box-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 20px #ffffff;

  } 



  #number {
    font-size: 20px;
    margin-top: 10px;
    color: #ffffff;
    font-size: 27px;
    background-color: rgb(89, 89, 223,0.4);
  }
  .numero{
    position: absolute;
    opacity:0.3;
    top: 10px;
    right: 10px;
  }
  
  .puntaje{
    padding:10px;
    color:white;
  }